In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pathlib import Path

#read in all files
jobs_2022 = Path('Resources_2/2022_jobsdata.csv')
jobs_2021 = Path('Resources_2/2021_jobsdata.csv')
jobs_df_1 = pd.DataFrame(pd.read_csv(jobs_2022))
jobs_df2 = pd.DataFrame(pd.read_csv(jobs_2021))

In [2]:
#filter for total employee numbers for zip code 
jobs = jobs_df_1[['Label (Grouping)','Civilian employed population 16 years and over']]
jobs_df = pd.DataFrame(jobs)
jobs_df.head(33)

#create empty lists for getting the zip data and the total employment data
zips = []

totals = []

#this for loops looks for specific index to find the zip code and adds to the empty established list
for i in range(0, len(jobs_df), 16):
    new_zip = jobs_df.iloc[i,0]
    zips.append(new_zip)

#this for loop looks for specific index to find the total employment number change and adds tot he empty established list
for i in range(2, len(jobs_df), 16):
    new_total = jobs_df.iloc[i,1]
    totals.append(new_total)

zips
totals

#turn the zips and totals data into a full dataframe
full_df = pd.DataFrame({'Zip Code': zips,
                        'Total Employed 2022': totals})
full_df

#clean up zip code data
full_df['Zip Code'] = full_df['Zip Code'].str.replace('ZCTA5 ', '')
full_df

#clean up employed data and turn the data into integer for calculation
full_df['Total Employed 2022'] = full_df['Total Employed 2022'].str.replace(',','')
full_df['Total Employed 2022'] = full_df['Total Employed 2022'].astype(int)

full_df

     Zip Code  Total Employed 2022
0       73949                  714
1       73960                    0
2       75001                11749
3       75002                36013
4       75006                27304
...       ...                  ...
1987    79934                12137
1988    79935                 8527
1989    79936                50837
1990    79938                38761
1991    88430                   94

[1992 rows x 2 columns]

In [3]:
jobs2 = jobs_df2[['Label (Grouping)','Civilian employed population 16 years and over']]
jobs_df2 = pd.DataFrame(jobs2)
jobs_df2.head(33)

zips = []

totals = []

for i in range(0, len(jobs_df2), 16):
    new_zip = jobs_df2.iloc[i,0]
    zips.append(new_zip)

for i in range(2, len(jobs_df2), 16):
    new_total = jobs_df2.iloc[i,1]
    totals.append(new_total)

zips
totals

full_df2 = pd.DataFrame({'Zip Code': zips,
                        'Total Employed 2021': totals})
full_df2

full_df2['Zip Code'] = full_df2['Zip Code'].str.replace('ZCTA5 ', '')
full_df2

full_df2['Total Employed 2021'] = full_df2['Total Employed 2021'].str.replace(',','')
full_df2['Total Employed 2021'] = full_df2['Total Employed 2021'].astype(int)

full_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1992 entries, 0 to 1991
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Zip Code             1992 non-null   object
 1   Total Employed 2021  1992 non-null   int64
dtypes: int64(1), object(1)
memory usage: 31.3+ KB

In [5]:
comp_df = pd.merge(full_df, full_df2,on='Zip Code')
change = comp_df['Total Employed 2022'] / comp_df['Total Employed 2021'] - 1

comp_df['Employment Change 2022'] = (change*100).map('{:.2f}%'.format)
comp_df

top25 = pd.read_csv('Resources_2/top_25.csv')
top25_df = pd.DataFrame(top25)


comp_df.rename(columns={"Zip Code": "Zip"}, inplace=True)

comp_df['Zip'] = comp_df['Zip'].astype(int)

new_df = pd.merge(top25_df,comp_df,on='Zip',how='inner')

new_df = new_df.drop(columns=['Total Employed 2021'])
new_df = new_df.drop(columns=['Total Employed 2022'])

new_df

,Zip,City,County,Latitude,Longitude,2018,2019,2020,2021,2022,Employment Change 2022
0,76519,Burlington,Milam,30.98978,-97.03579,-12.25,21.45,-28.13,-28.57,93.20,58.59%
1,79766,Odessa,Ector,31.71014,-102.36185,4.54,12.90,-0.23,40.11,9.92,16.03%
2,75414,Bells,Grayson,33.62504,-96.43193,-9.58,18.65,-0.64,-11.93,9.87,10.18%
3,77304,Conroe,Montgomery,30.33097,-95.51538,7.29,8.38,7.58,2.25,9.86,7.50%
4,76853,Lometa,Lampasas,31.24774,-98.39047,-1.97,-5.70,-8.45,11.93,9.85,9.11%
5,77564,Hull,Liberty,30.21811,-94.65989,-15.51,12.51,-18.86,13.38,9.79,2.94%
6,76377,Petrolia,Clay,34.01010,-98.24191,-3.29,-30.01,-25.23,-3.86,9.77,4.70%
7,75438,Dodd City,Fannin,33.60701,-96.07462,-1.09,9.25,-1.92,-2.06,9.76,8.46%
8,79119,Amarillo,Randall,35.10876,-102.01968,3.21,6.89,5.63,10.14,9.73,9.20%
9,78950,New Ulm,Austin,29.90735,-96.48518,-10.75,1.40,2.93,16.26,9.70,5.74%
10,75082,Richardson,Collin,32.99208,-96.66536,-0.65,-0.41,-0.28,14.45,9.65,12.63%
11,78949,Muldoon,Fayette,29.83681,-97.08062,-13.28,-11.41,39.32,-26.52,9.60,0.00%
12,76055,Itasca,Hill,32.15960,-97.14812,2.27,4.00,13.16,2.33,9.55,14.15%
13,78880,Rocksprings,Edwards,29.96486,-100.27779,-1.15,-10.26,6.77,-33.24,9.49,16.05%
14,75709,Tyler,Smith,32.31323,-95.38904,-0.83,-5.46,-2.26,-0.61,9.46,12.67%
15,78626,Georgetown,Williamson,30.66664,-97.59878,3.37,8.71,5.42,-3.38,9.46,10.24%
16,75202,Dallas,Dallas,32.77843,-96.80370,1.48,12.29,18.47,-19.24,9.45,11.82%
17,76050,Grandview,Johnson,32.27262,-97.16326,8.60,-0.46,-1.90,10.93,9.39,8.81%
18,75451,Leesburg,Camp,32.96247,-95.11835,13.73,2.47,18.23,7.27,9.36,15.08%
19,76102,Fort Worth,Tarrant,32.75799,-97.32858,-3.94,-1.43,14.54,0.17,9.34,16.95%
20,79407,Lubbock,Hockley,33.56566,-102.08895,4.93,3.36,-2.85,-4.27,9.27,12.45%
21,78724,Austin,Travis,30.29474,-97.61439,-0.22,3.81,-1.54,2.40,9.23,15.40%
22,77554,Galveston,Galveston,29.23187,-94.92544,6.30,-2.43,2.03,3.10,9.15,11.74%
23,75054,Grand Prairie,Dallas,32.60036,-97.03409,-1.20,12.15,9.37,21.27,9.11,12.85%
24,78545,Falcon Heights,Zapata,26.59100,-99.13889,9.79,-29.72,-49.75,101.49,9.09,48.68%